body {
  font-family: 'Oswald', sans-serif;
  color: #222;
  background: #fff; 
}
button {
	background: #e2674a;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Righteous', cursive;
}
.header {
  height:350px;
  background: #e2674a;
}
.header h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  margin-top: 0;
  line-height: 1;
  /*text-shadow: 1px 1px #ccc;*/
}
.margin-top {
  margin-top: -125px;
}
.jumbotron {
  margin-top: -125px;
}
.fab {
  text-align: center;
  text-shadow: 1px 1px #222;
  background-image: url('../img/fab.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #222;
}
.fab h2 {
  color: #e2674a;
}
.position1 {
  color: #eee;
  font-size: 1.6875em;
  font-weight: bold;
}
.position2,
.position3 {
  font-size: 1.4375em;
  color: #ccc;
}
.position4,
.position5 {
  font-size: 1.125em;
  color: #aaa;
}
.panel,
.callout {
  min-height: 200px;
}
#sign-up-form {
  display: none;
}
.flasher {
  text-align: center;
}
.flip {
  font-family: 'Permanent Marker', cursive;
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: -100px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 2em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: url("../lined_paper.png");
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: #fafafa;
    color: #222;
    cursor: pointer;
}
.answer-form {
	text-align: center;
  margin-top: 150px;
}
.buckets {
	display: none;
	text-align: center;
	padding-top: 25px;
}
.check-answer {
  display: none;
  text-align: center;
}

.game-over {
  display: none;
}
.decks {
  background: #ccc;
  padding: 20px 0 10px 0;
}
.footer {
  background: #222;
}
.created {
  font-family: 'Righteous', cursive;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 0;
  line-height: 1;
}