<div class="container">

  <a href="/deck/1">Play Game!</a>

  <a href="/user/<%=current_user.id%>">Profile</a><br>
  <form action="/logout" method="post">
  <input class="logout" type="submit" value="Logout"><br>
  </form>

</div>