<div class="container">
    <header><h1>RARA Flashcards</h1></header>

     <p id="errors"><% if @errors %>
      <% @errors.each do |error| %> 
        <%= error %><br>
      <% end %></p>
    <% end %></p>

    <p><h4>Login</h4></p> 
    <form action="/login" method="post">
      Email: <input type="text" placeholder ="robert@example.com" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input class="login" type="submit" value="Submit"><br>
    </form>

    <p><h4>Sign-up</h4></p>
    <form action="/signup" method="post">
      Name: <input type="text" placeholder ="Robert Kim" name="name"><br>
      Email: <input type="text" placeholder ="robert@example.com" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input class="signup" type="submit" value="Submit"><br>
    </form>

    <% @rounds.each do |round| %>
    <ul>
      <li><%=User.find(round.user_id).name%><%= round.score %></li>
    </ul>
    <% end %>
</div>