<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="css/font_awesome/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  
  <title>RARA</title>
</head>
<body>
  <section class="header">
    <h1>RARA</h1>
  </section>
  <section class="main">
    <%= yield %>
  </section>
  <section class="footer">
    <div class="row">
      <span class="created">Created by Robby, Angie, Roberto, & Amy</span>
    </div>
  </section>
</body>
</html>
