<div class="container">
    <header><h1>RARA Flashcards</h1></header>

    <p id="profile_name"><%= @user.name %></p>
    <p id="profile_email"><%= @user.email %></p>

    <p><h4> STATS <h4></p>



</div>