<section class="top">
</section>
<section>
  <% @deck.each do |card| %>
  <div class="flash">
  	<div class="flip"> 
		  <div class="card">
			  <div class="face front"> 
				  <p class="question"><%= card.question %></p>
				</div>
				<div class="face back"> 
				  <p class="answer"><%= card.answer %></p>
			  </div>
			</div>
	  </div>
    <div class="answer-form">
    	<div class="row">
        <div class="large-4 large-offset-4 columns">
			    <form action="/deck/check" method="POST" class="panel">
				    <label for="<%=card.id%>">Answer:</label>
				    <input type="text" name="<%=card.id%>" placeholder="Answer at your own risk..."><br/>
				    <button type="submit" class="button rara" id="#submit-answer">FLIP</button>
				  </form>
				</div>
			</div>
		</div>
	</div>
  <% end %>
  <div class="check-answer">
  	<div class="row">
      <div class="large-4 large-offset-4 columns panel">
		    <h3 class="response"></h3>
		    <p class="score"></p>
		    <button id="next">Next Question</button>
		  </div>
		</div>
  </div>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <div class="game-over">
        <a href="/">Back to Home</a>
      </div>
    </div>
  </div>
</section>
