<div><% @deck.each_with_index do |card, index| %></div>
  <p><%= card.question %></p> 
  <form action="/deck/check" method="post">
    <label for="answer">Answer:</label>
    <input type="text" name="<%=card.id%>" placeholder="Enter your answer..."><br/>
  <% end %>
   <input type="submit" value="Submit!">
  </form>



